/* Algemene opmaak */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}

/* Navigatiebalk */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: #263238;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: darkgrey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2em;
}

/* Hamburger menu */
.menu-toggle {
    margin-left: 15px;
    font-size: 45px;
    cursor: pointer;
    position: fixed; /* Change to fixed position */
    top: 10px;
    left: 15px;
    color: white;
    z-index: 1000; /* Ensure it is above other elements */
    background-color: #263238;
    border-radius: 50px; /* Make the background a circle */
    width: 60px;
    height: 60px; /* Ensure width and height are equal */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hoofdsectie */
main {
    height: 100%;
    width: 100%;
}

.kaartje {
    display: flex;
    flex-direction: row;
   
    gap: 10px; /* Optional: adds space between images */
}

.kaartje img {
    width: 50%;
    height: auto;
    border-radius: 20px;
    box-shadow: #263238 0px 0px 10px;
}

.kaartje img:hover {
    box-shadow: #263238 0px 0px 20px;
}


/*footer*/
.col_white_amrc { color:#FFF;}
footer {  background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; }
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}


.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #fff; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;} 
.foote_bottom_ul_amrc li a { color:#fff; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#fff; border:1px solid #fff; padding:8px;border-radius:50%; text-decoration: none;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

.container {
    background-color: #263238;
    bottom: 0;
    position: relative;
   
 
}

/* Contact Sectie */
.contact-section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-container {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden; /* Zorgt ervoor dat de hoeken afgerond blijven */
}

.contact-form {
    margin-top: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #263238;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: darkgrey;
}

/* Responsive styling */
@media (max-width: 768px) {
    .kaartje {
        display: flex;
        flex-direction: column;
       
        gap: 10px; /* Optional: adds space between images */
    }
    .kaartje img{
        width: 100%;
        height: auto;
        border-radius: 20px;
        box-shadow: #263238 0px 0px 10px;
    }
    .kaartje img:hover{
    
        box-shadow: #263238 0px 0px 20px;
    }
    .sidenav {
        width: 0; /* Begin met een gesloten sidenav */
    }

    .menu-toggle {
        margin-left: 15px;
        font-size: 45px;
        cursor: pointer;
        position: fixed; /* Change to fixed position */
        top: 10px;
        left: 15px;
        color: white;
        z-index: 1000; /* Ensure it is above other elements */
        background-color: #263238;
        border-radius: 50px; /* Make the background a circle */
        width: 60px;
        height: 60px; /* Ensure width and height are equal */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-section {
        padding: 20px;
    }

    .contact-info h1,
    .contact-info h2 {
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px auto; /* Grotere koppen op mobiele apparaten */
    }

    .contact-form button {
        width: 100%; /* Volledige breedte van de knop */
    }
}
