/* Basisinstellingen voor html en body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Dit zorgt ervoor dat de body altijd minimaal de hoogte van de viewport heeft */
    font-family: Arial, sans-serif;
}

:root{
    --grey1 : black;
}



h1, h2, h3, p {
    color: var(--grey1);
}

.book-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: var(--grey1); 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.book-button:hover {
    background-color: darkgrey; /* Donkerdere kleur bij hover */
}



main {
    
    background-image: url(images/Video1-ezgif.gif); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    flex: 1; 
    height: 100%;
}

/* Sidenav (zijmenu) */
.sidenav {
    height: 100%;
    width: 0; /* Start breedte op 0 zodat het niet zichtbaar is */
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: #263238;
    overflow-x: hidden;
    transition: 0.5s; /* Zorgt voor een soepele overgang */
    padding-top: 60px;
   
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: darkgrey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2em;
}

/* Hamburger menu */
.menu-toggle {
    margin-left: 15px;
    font-size: 45px;
    cursor: pointer;
    position: fixed; /* Change to fixed position */
    top: 10px;
    left: 15px;
    color: white;
    z-index: 1000; /* Ensure it is above other elements */
    background-color: #263238;
    border-radius: 50px; /* Make the background a circle */
    width: 60px;
    height: 60px; /* Ensure width and height are equal */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hero sectie */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
    color: white;
}

.hero p {
    font-size: 1.2em;
    margin: 15px 0;
    color: white;
}

.btn {
    text-decoration: none;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: grey;
    color: white;
}

/* FAQ sectie */
.faq {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    color: black;
}

.faq h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.faq p {
    font-size: 1.2em;
    color: #555;
}

.faq-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.faq-item {
    width: calc(33.33% - 40px); /* 3 kolommen met ruimte voor margin */
    text-align: center;
    margin: 20px;
}

.faq-item img {
    width: 80px;
    height: 100px;
    margin-bottom: 20px;
}

.faq-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 1em;
    color: #333;
}

/* Services sectie */
.services {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

video {
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;  
}

.services h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.services p {
    font-size: 1.2em;
    color: #555;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.service-item {
    width: calc(22% - 40px); /* 4 kolommen met ruimte voor margin */
    text-align: center;
    margin: 20px;
}

.service-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow:  2px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid black;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.service-item h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.service-item p {
    font-size: 1em;
    color: #333;
}

/* Car Types sectie */
.car-types {
    text-align: center;
    padding: 50px 20px;
    background-color: #eaeaea;
}

.car-types h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.car-types p {
    font-size: 1.2em;
    color: #555;
}

.car-types-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.car-type-item {
    width: calc(22% - 40px); /* 4 kolommen met ruimte voor margin */
    text-align: center;
    margin: 20px;
}

.car-type-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow:  2px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid black;
}

/* Footer */
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}


.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #fff; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;} 
.foote_bottom_ul_amrc li a { color:#fff; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#fff; border:1px solid #fff; padding:8px;border-radius:50%; text-decoration: none;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

.container {
    background-color: #263238;
width: 100%;
    margin:0;
    text-decoration: none;
}


footer{
    width: 100%;
    
}

footer p {
    margin: 0;
    color: #fdf8f8;
}


/* Responsive styling */
@media (max-width: 768px) {
    main {
        background-image: url(images/Video1-ezgif.gif);
        background-repeat: no-repeat;   
    }

    .btn:hover {
        background-color: grey;
        color: white;
    }

    .hero h1 {
        font-size: 3em;
        margin: 0;
        color: white;
    }
    
    .hero p {
        font-size: 1.2em;
        margin: 15px 0;
        color: white;
    }
    
    .btn {
        text-decoration: none;
        background-color: transparent;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .menu-toggle {
        display: block;
        margin-left: 15px;
        font-size: 45px;
        cursor: pointer;
        position: fixed; /* Change to fixed position */
        top: 10px;
        left: 15px;
        color: white;
        z-index: 1000; /* Ensure it is above other elements */
        background-color: #263238;
        border-radius: 50px; /* Make the background a circle */
        width: 60px;
        height: 60px; /* Ensure width and height are equal */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        display: flex;
        justify-content: center;
    }

    h2 {
        position: relative;
        top: 10px;
        margin: 0;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .faq-container,
    .services-container,
    .car-types-container {
        flex-direction: column;
        align-items: center;
    }

    .faq-item,
    .service-item,
    .car-type-item {
        width: 90%; /* Maak de breedte voor kleine schermen groter */
        margin: 10px 0; /* Verklein de marges */
    }

    .insta {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }
}